<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> sizeez </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="top-container">
    <div class="header">
      <h1>Its as easy as that.</h1>
    </div>
    <div class="info">
      <p class="main-text">
        Would you like to have perfect - fitting clothes? Two photos are all you
        need. Take a bodyscan once and use it in differet shops at any time.

        <b>
          Minimum returns for items that do not fir - for less stress and more
          time in nature.
        </b>
      </p>
    </div>

  </div>
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="video">
          <video controls>
            <source
              src="http://techslides.com/demos/sample-videos/small.mp4"
              type="video/mp4"
            />
            <source src="movie.ogg" type="video/ogg" />
            Your browser does not support the video tag.
          </video>
        </div>
      </ion-col>
    </ion-row>

    <div>
      <ion-row>
        <ion-checkbox></ion-checkbox>
        <p>privacy-policy</p>
      </ion-row>
      <ion-row>
        <ion-button>Start</ion-button>
      </ion-row>
      <ion-row>
        <ion-button>App Version 1.0.8</ion-button>
      </ion-row>
    </div>
  </ion-grid>
</ion-footer>
