ion-col,ion-grid{
  margin: 0;
  padding: 0;
}
video{
  width: 100%;
}
.header{
  font-weight: bolder;
}
h1{
  text-align: center;
  margin: 10px auto 10px;
  padding: 16px;
  font-weight: bolder;
  color: #193738;
}

.main-text{
  font-size: 4vw;
  line-height: 6vw;
}
.info{
  width: 80%;
  margin: auto;
}


